h1 {
  margin: auto;
  width: 80%;
  text-align: center;
}

table#canvas {
  margin: auto;
  width: 100%;
  align: center;
}

table#myTable2 {
  display: inline-block;
  margin: auto;
  width: 100%;
  align: center;
  float: left;
}

tr#colorRow {
  display: inline;
  margin: auto;
  width: 100%;
  align: center;
}
